@{
    ViewData["Title"] = "About";
}
<h2 class="stiletitolo">CHI SIAMO</h2>


<p>Prova descrizione pagina "chi siamo".</p>
<p><div style="text-align:center;">Prova descrizione pagina "chi siamo".</div></p>
<p><div style="color: aqua;">Prova descrizione pagina "chi siamo".</div></p>
<p><div style="text-align:right;">Prova descrizione pagina "chi siamo".</div></p>
<p><div style="text-align:center; color:darkgoldenrod;">Prova descrizione pagina "chi siamo".</div></p>
<p><div style="font-style:italic;">Prova descrizione pagina "chi siamo".</div></p>
