@{
    ViewData["Title"] = "Contact";
}
<h2 class="stiletitolo">CONTATTI</h2>
<h3 class="sottotitolo">Come contattarci</h3>

<address>
    Newcom Data<br />
    Via Bobbio 14, 10100, Torino<br />
    Telefono: 011 654321
</address>

<address>
    <strong>Supporto:</strong> <a href="mailto:Support@example.com">support@newcomdata.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@newcomdata.com</a>
</address>
